body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
}

p {
    color: aliceblue;
}

.cabecera {
    background-color: rgb(36, 36, 36);
    padding-bottom: 30px;
    border-bottom: 2px solid #dec282;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    color: aliceblue;
}

nav ul li a:hover {
    transform: translateY(+10px);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    background-color: #dec282;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-weight: 10;
    color:#dec282;
    background-color: rgb(27, 27, 27);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-left: 18%;
    margin-right: 18%;
}

h2 {
    text-align: center;
    font-weight: 10;
    color:rgb(27, 27, 27);
    background-color: #dec282;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-left: 18%;
    margin-right: 18%;
}

.parrafo-inicial {
    text-align: center;
    background-color: rgb(27, 27, 27);
    padding: 40px;
    margin-left: 18%;
    margin-right: 18%;
}


label {
    display: block;
    margin: 0.5rem 0;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #dec282;
    color: white;
    border-color: white;
    min-width: 300px;
}

div img {
    display: block; /* utilizamos el block para volverlo un bloque,  */
    margin: 0 auto;
    width: 1000px;
    height: 350px;
    padding-top: 10px;
    object-fit: cover;
}

div img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    transition-duration: 0.5s;
  
}

.iconos {
    text-align: left;
    color: #dec282;
    inline-size: auto;
}


.piedepagina {
    width: 60%;
    height: 2em;
    font-size: 1em;
    background-color: #dec282;
    color: black;
    min-width: 100%;
}
